<div>
  <div>
    <h1>
      List of Judicial Elections (2018 to 2022)
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Vacating Judge Name 
        </th>

         <th>
          Subcircuit 
        </th>

        <th>
          Election Year
        </th>

        <th>
          Winning Candidate
        </th>

        <th>
          Winning Candidate Party
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_vacancies.each do |a_vacancy| %>
      <tr>
        <td>
          <%= a_vacancy.name %>
        </td>

        <td>
          <%= a_vacancy.subcircuit.number %>
        </td>

        <td>
          <%= a_vacancy.election_subcircuit.election.year %>
        </td>

        <td>
          <% matching_candidates = Candidate.where({ :id => a_vacancy.vacating_candidate_id}) %>
          
          <% the_candidate = matching_candidates.at(0) %>

          <%=the_candidate.first_name%> <%=the_candidate.last_name%>
        </td>

        <td>
        <%=the_candidate.parties.at(0).name%>
        </td>

        <td>
          <a href="/vacancies/<%= a_vacancy.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
