<div>
  <div>
    <h1>
      Election to replace Judge  <%= @the_vacancy.name %>
    </h1>

    <div>
      <div>
        <a href="/vacancies">
          Go back
        </a>
      </div>

    <dl>
      <dt><b>Election Year</b></dt>
      <dd>
        <%= @the_vacancy.election_subcircuit.election.year %>
      </dd><br>
      <dt><b>Subcircuit</b></dt>
      <dd>
        <%= @the_vacancy.election_subcircuit.subcircuit.number %>
      </dd><br>
      <dt><b>Winning candidate name</b></dt>
      <dd>
        <%= @the_vacancy.winning_candidate.first_name %> <%= @the_vacancy.winning_candidate.last_name %>
      </dd><br>
      <dt><b>Winning candidate party</b></dt>
      <dd>
        <%= @the_vacancy.winning_candidate.parties.at(0).name %>
      </dd><br>
      <dt><b>Winning candidate votes won (Chicago)</b></dt>
      <dd>
        <% winning_candidate_id = @the_vacancy.winning_candidate.id %>
        <%= number_with_delimiter(@the_vacancy.vacancy_candidates.where({:candidate_id => winning_candidate_id}).at(0).chicago_vote) %>
      </dd><br>
      <dt><b>Winning candidate votes won (Suburbs)</b></dt>
      <dd>
        <%= number_with_delimiter(@the_vacancy.vacancy_candidates.where({:candidate_id => winning_candidate_id}).at(0).suburban_vote) %>
      </dd><br>
      <dt><b>Winning candidate votes won (Total)</b></dt>
      <dd>
        <%= number_with_delimiter(@the_vacancy.vacancy_candidates.where({:candidate_id => winning_candidate_id}).at(0).total_vote) %>
      </dd><br>
      <dt><b>Winning candidate percentage</b></dt>
      <dd>
        <%= number_to_percentage(@the_vacancy.vacancy_candidates.where({:candidate_id => winning_candidate_id}).at(0).total_percentage, precision: 2) %>
      </dd><br>
      <dt><b>Losing candidate name</b></dt>
      <dd>
        <%= @the_vacancy.losing_candidate.first_name %> <%= @the_vacancy.losing_candidate.last_name %>
      </dd><br>
      <dt><b>Losing candidate party</b></dt>
      <dd>
        <%= @the_vacancy.losing_candidate.parties.at(0).name %>
      </dd><br>
      <dt><b>Losing candidate votes won (Chicago)</b></dt>
      <dd>
        <% losing_candidate_id = @the_vacancy.losing_candidate.id %>
        <%= number_with_delimiter(@the_vacancy.vacancy_candidates.where({:candidate_id => losing_candidate_id}).at(0).chicago_vote) %>
      </dd><br>
      <dt><b>Losing candidate votes won (Suburbs)</b></dt>
      <dd>
        <%= number_with_delimiter(@the_vacancy.vacancy_candidates.where({:candidate_id => losing_candidate_id}).at(0).suburban_vote) %>
      </dd><br>
      <dt><b>Losing candidate votes won (Total)</b></dt>
      <dd>
        <%= number_with_delimiter(@the_vacancy.vacancy_candidates.where({:candidate_id => losing_candidate_id}).at(0).total_vote) %>
      </dd><br>
      <dt><b>Losing candidate percentage</b></dt>
      <dd>
        <%= number_to_percentage(@the_vacancy.vacancy_candidates.where({:candidate_id => losing_candidate_id}).at(0).total_percentage, precision: 2) %>
      </dd><br>
    </dl>
  </div>
</div>
