<div>
  <div>
    <h1>
      <%= @the_candidate.first_name %> <%= @the_candidate.last_name %> Details
    </h1>

    <div>
      <div>
        <a href="/candidates">
          Go back
        </a>
      </div>

      <dl>
        <dt><b>First name</b></dt>
        <dd>
          <%= @the_candidate.first_name %>
        </dd><br>
        <dt><b>Last name</b></dt>
        <dd>
          <%= @the_candidate.last_name %>
        </dd><br>
        <dt><b>Party</b></dt>
        <dd>
          <%= @the_candidate.parties.at(0).name %>
        </dd><br>
        <dt><b>Election Year</b></dt>
        <dd>
         <%= @the_candidate.vacancy_candidates.at(0).vacancy.election_subcircuit.election.year %>
        </dd><br>
        <dt><b>Chicago Total</b></dt>
        <dd>
          <%= number_with_delimiter(@the_candidate.vacancy_candidates.at(0).chicago_vote) %>
        </dd><br>
        <dt><b>Suburban Total</b></dt>
        <dd>
          <%= number_with_delimiter(@the_candidate.vacancy_candidates.at(0).suburban_vote) %>
        </dd><br>
        <dt><b>Total Votes</b></dt>
        <dd>
          <%= number_with_delimiter(@the_candidate.vacancy_candidates.at(0).total_vote) %>
        </dd><br>
        <dt><b>Total Percentage</b></dt>
        <dd>
          <%= number_to_percentage(@the_candidate.vacancy_candidates.at(0).total_percentage, precision: 2) %>
        </dd><br>
      </dl>
    </div>
  </div>
</div>
<hr>
