<div>
  <div>
    <h1>
      Judicial Candidates List
    </h1>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Candidate Name
        </th>

        <th>
          Party
        </th>

        <th>
        Year Ran
        </th>
        
        <th>
        Subcircuit
        </th>

        <th>
        Won?
        </th>

        <th>
        Details
        </th>
      </tr>

      <% @list_of_vacancy_candidates.each do |a_vacancy_candidate| %>
      <tr>

        <td>
          <% matching_candidates = Candidate.where({ :id => a_vacancy_candidate.candidate_id }) %>
          
          <% the_candidate = matching_candidates.at(0) %>

          <%=the_candidate.first_name%>

          <%=the_candidate.last_name%>
    
        </td>


        <td>
          <% matching_parties = Party.where({ :id => a_vacancy_candidate.party_id}) %>
          
          <% the_party = matching_parties.at(0) %>

          <%=the_party.name%>
        
        </td>
          
        <td>
        <%=a_vacancy_candidate.vacancy.election.year%>
        </td>

        <td>
        <%=a_vacancy_candidate.vacancy.subcircuit.number%>
        </td>

        <td>
          <%= a_vacancy_candidate.total_percentage > 50 ? "Yes" : "No" %>
        </td>
        <td>
          <a href="/vacancy_candidates/<%= a_vacancy_candidate.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Candidate Name
        </th>

        <th>
          Party
        </th>

        <th>
         Subcircuit
        </th>
        
        <th>
         Judicial Vacancy
        </th>

        <th>
          Votes Received from Suburbs
        </th>

        <th>
          Votes Received from Chicago
        </th>

        <th>
          Total Votes Received
        </th>

        <th>
          Percentage of Votes Received
        </th>

        <th>
          Won?
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_vacancy_candidates.each do |a_vacancy_candidate| %>
      <tr>

        <td>
          <% matching_candidates = Candidate.where({ :id => a_vacancy_candidate.candidate_id }) %>
          
          <% the_candidate = matching_candidates.at(0) %>

          <%=the_candidate.first_name%>

          <%=the_candidate.last_name%>
    
        </td>


        <td>
          <% matching_parties = Party.where({ :id => a_vacancy_candidate.party_id}) %>
          
          <% the_party = matching_parties.at(0) %>

          <%=the_party.name%>
        
        </td>
          
        <td>
          <%=a_vacancy_candidate.vacancy.subcircuit.number%>
        </td>

        <td>
          <% matching_vacancies = Vacancy.where({ :id => a_vacancy_candidate.vacancy_id }) %>
          
          <% the_vacancy = matching_vacancies.at(0) %>

          <%=the_vacancy.name%>
        
        </td>

        <td>
          <%= a_vacancy_candidate.suburban_vote %>
        </td>

        <td>
          <%= a_vacancy_candidate.chicago_vote %>
        </td>

        <td>
          <%= a_vacancy_candidate.total_vote %>
        </td>

        </td>

        <td>
          <%= a_vacancy_candidate.total_percentage %>
        </td>

        <td>
          <%= a_vacancy_candidate.total_percentage > 50 ? "Yes" : "No" %>
        </td>
        <td>
          <a href="/vacancy_candidates/<%= a_vacancy_candidate.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
