<div>
  <div>
    <h1>
      Vacancy candidate #<%= @the_vacancy_candidate.id %> details
    </h1>

    <div>
      <div>
        <a href="/vacancy_candidates">
          Go back
        </a>
      </div>

  
    <dl>
      <dt>
        Candidate
      </dt>
      <dd>
        <%= @the_vacancy_candidate.candidate_id %>
      </dd>

      <dt>
        Vacancy
      </dt>
      <dd>
        <%= @the_vacancy_candidate.vacancy_id %>
      </dd>

      <dt>
        Party
      </dt>
      <dd>
        <%= @the_vacancy_candidate.party_id %>
      </dd>

      <dt>
        Suburban vote
      </dt>
      <dd>
        <%= @the_vacancy_candidate.suburban_vote %>
      </dd>

      <dt>
        Chicago vote
      </dt>
      <dd>
        <%= @the_vacancy_candidate.chicago_vote %>
      </dd>

      <dt>
        Total vote
      </dt>
      <dd>
        <%= @the_vacancy_candidate.total_vote %>
      </dd>

      <dt>
        Suburban percentage
      </dt>
      <dd>
        <%= @the_vacancy_candidate.suburban_percentage %>
      </dd>

      <dt>
        Chicago percentage
      </dt>
      <dd>
        <%= @the_vacancy_candidate.chicago_percentage %>
      </dd>

      <dt>
        Total percentage
      </dt>
      <dd>
        <%= @the_vacancy_candidate.total_percentage %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_vacancy_candidate.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_vacancy_candidate.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
