<div>
  <div>
    <h1>
      List of all subcircuits
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new subcircuit
    </h2>

    <form action="/insert_subcircuit" method="post">
      <div>
        <label for="number_box">
          Number
        </label>

        <input type="text" id="number_box" name="query_number">
      </div>

      <button>
        Create subcircuit
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Number
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_subcircuits.each do |a_subcircuit| %>
      <tr>
        <td>
          <%= a_subcircuit.id %>
        </td>

        <td>
          <%= a_subcircuit.number %>
        </td>

        <td>
          <%= time_ago_in_words(a_subcircuit.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_subcircuit.updated_at) %> ago
        </td>

        <td>
          <a href="/subcircuits/<%= a_subcircuit.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
