<div>
  <div>
    <h1>
      Subcircuit #<%= @the_subcircuit.id %> Details
    </h1>

    <div>
      <div>
        <a href="/subcircuits">
          Go back
        </a>
      </div>

    <h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Year
    </th>

    <th>
      Vacating Judge    
    </th>

    <th>
      Winner
    </th>

    <th>
      Loser
    </th>

  </tr>

  <% the_id = @the_subcircuit.id %>

  <% matching_subcircuits = Vacancy.where({ :subcircuit_id => the_id }) %>
  
  <% subcircuit = matching_subcircuits %>

  <% subcircuit.each do |a_vacancy| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="<%= a_movie.image %>" style="width:250px;">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <%= @the_director.name %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
