<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<a href="/" style="margin-right: 10px;">Home</a>
<a href="/vacancies/" style="margin-right: 10px;"> Judicial Elections</a>
<a href="/subcircuits/" style="margin-right: 10px;"> Subcircuits</a>
<a href="/parties/" style="margin-right: 10px;">Political Parties</a>
<a href="/elections/" style="margin-right: 10px;">Elections Years</a>
<a href="/candidates/" style="margin-right: 10px;">Candidate Results</a>

    <%= yield %>

  </body>
</html>
